<!DOCTYPE html>
<html>
<head>
  <title>Bookmark Manager</title>
</head>

  <body>
    <% if current_user %>
      <%= erb :'partials/welcome' %>
      <form method='post' action='/sessions'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Sign out'>
      </form>
    <% end %>

   <%= erb :'partials/flashes' %>
    <%= yield %>
  </body>
  
</html>
