<h1>Make A New Link<h1>

<form action='/links' method='post'>
  <input type='text' name='title' placeholder='title'>
  <input type='text' name='url' placeholder='URL'>
  <input type='text' name='tags' placeholder='tags separated by spaces'>
  <input type='submit' value='Create link'>
</form>